header {
	height: 5vh;
	display: flex;
	position: fixed;
	width: 100%;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	background: linear-gradient(180deg, #000000 0%, rgba(0, 80, 138, 0) 100%);
}
	header .logo_lifehacker { width: 100px; }
	header .logo_cordiant { width: 150px; }
	header img { margin: 130px; }

main {
	display: flex;
	height: 100vh;
	justify-content: space-between;
	overflow: hidden;
}
	main .left_block {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-repeat: no-repeat;
		background-size: 100% 100%!important; 
	}
		main .left_block .mirror_elem {
			display: flex;
			justify-content: flex-end;
		}
			main .left_block .mirror_elem img {
				width: 400px;
				margin-right: 75px;
			}
		main .left_block .helm {
			width: 1300px;
		}
	main .right_block {
		width: 50%;
		background: linear-gradient(0deg, #00508A 0%, #123A60 96.67%);
		border-left: 2px solid white;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
		main .right_block .question_content {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: 100%;
			color: white;
		}
			main .right_block .question_content .counter_container {
				display: flex;
				justify-content: flex-start;
				width: 70%;
				margin: 20px;
				font-size: 16px;
				line-height: 24px;
			}
			main .right_block .question_content .title {
				font-size: 45px;
				line-height: 52px;
				font-family: OpenSansBold;
				margin: 20px;
				text-align: center;
			}
			main .right_block .question_content #questions {
				display: flex;
				width: 100%;
				justify-content: flex-start;
				flex-direction: column;
			}
				main .right_block .question_content #question_container {
					display: flex;
					justify-content: center;
					flex-direction: column;
					width: 70%;
				}
				main .right_block .question_content #question_container #questions .question_item {
					width: calc(100% - 80px);
					margin: 10px;
					padding: 18px 40px;
					background: rgba(255, 255, 255, 0.2);
					min-height: 80px;
					display: flex;
					align-items: center;
					cursor: pointer;
					font-size: 16px;
					line-height: 24px;
					user-select: none;
					border-radius: 3px;
				}
					main .right_block .question_content #question_container #questions .question_item span {
						font-family: OpenSansBold;
					}
					main .right_block .question_content #question_container #questions .question_item:hover {
						background-color: #7DBFFF;
						color: #004373;
					}
					main .right_block .question_content #question_container #questions .question_item:active {
						background-color: #FFFFFF;
						color: #004373;
					}
		main .right_block .question_content #result_container  {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			width: 70%;
		}
			main .right_block .question_content #result_container #result_title {
				font-size: 18px;
				line-height: 26px;
				font-family: OpenSansBold;
				margin: 0;
				text-align: start;
				margin-bottom: 24px;
			}
			main .right_block .question_content #result_container #result_description {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 40px;
				max-width: 350px;
			}
				main .right_block .question_content #result_container #result_description a {
					font-family: OpenSansBold;
					color: #A4EFEC;
				}
		main .right_block .right_footer {
			color: white;
			display: flex;
			justify-content: flex-end;
			margin: 15px 100px;
		}
			main .right_block .right_footer a {
				color: #7DBFFF;
				font-family: OpenSansBold;
			}
				main .right_block .right_footer a:active { color: white; }
		main .right_block .output {
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
			color: white;
		}
			main .right_block .output .top_output_content,
			main .right_block .output .bottom_output_content {
				display: flex;
				justify-content: center;
				flex-direction: column;
				height: 50%;

			}
			main .right_block .output .top_output_content {
				border-bottom: 2px solid #FFFFFF;
				padding: 0 10%;
			}
				main .right_block .output .top_output_content #output_title {
					font-size: 35px;
					line-height: 40px;
					font-family: OpenSansBold;
					margin-bottom: 24px;
				}
				main .right_block .output .top_output_content #output_description {
					font-size: 18px;
					line-height: 26px;
					font-family: OpenSansBold;
					margin-bottom: 32px;
				}
				main .right_block .output .top_output_content .button_block {
					display: flex;
					justify-content: space-around;
				}
					main .right_block .output .top_output_content .button_block .back_button {
						display: flex;
						align-items: center;
						cursor: pointer;
					}
						main .right_block .output .top_output_content .button_block .back_button:active p {
							color: white;
						}
						main .right_block .output .top_output_content .button_block .back_button:active #reload path {
							fill: white;
						}
						main .right_block .output .top_output_content .button_block .back_button .back_icon {
							display: flex;
						}
						main .right_block .output .top_output_content .button_block .back_button .back_icon svg {
							width: 40px;
							height: 40px;
						}
						main .right_block .output .top_output_content .button_block .back_button p {
							margin: 20px;
							font-size: 16px;
							line-height: 24px;
							color: #7DBFFF;
							font-family: OpenSansBold;
						}
					main .right_block .output .top_output_content .button_block .social {
						display: flex;
					}
						main .right_block .output .top_output_content .button_block .social a {
							width: 40px;
							height: 40px;
							background-color: #7DBFFF;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							margin: 10px;
						}
							main .right_block .output .top_output_content .button_block .social a:hover {
								background-color: #FFFFFF;
							}
							main .right_block .output .top_output_content .button_block .social a img {

							}
			main .right_block .output .bottom_output_content {
				padding: 0 10%;
			}
				main .right_block .output .bottom_output_content #output_promo {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 40px;
				}
					main .right_block .output .bottom_output_content #output_promo a {
						color: #7DBFFF;
						font-family: OpenSansBold;
					}
					main .right_block .output .bottom_output_content #output_promo .tires_name {
						font-family: OpenSansBold;
						font-weight: bold;
					}
					main .right_block .output .bottom_output_content #output_promo .promo_code {
						color: #A4EFEC;						
						background-color: #002B57;
						border-radius: 3px;
						font-family: OpenSansBold;
						padding: 2px;
					}
				main .right_block .output .bottom_output_content #output_time {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 40px;
				}
					main .right_block .output .bottom_output_content #output_time .promo_date {
						font-size: 18px;
						line-height: 24px;
						font-family: OpenSansBold;
						color: #A4EFEC;
					}
				main .right_block .output .bottom_output_content button {
					margin-bottom: 70px;
				}
				main .right_block .output .bottom_output_content .output_footer {
					display: flex;
					justify-content: space-between;
				}
					main .right_block .output .bottom_output_content .output_footer .team {
						font-size: 12px;
						line-height: 15px;
						color: #7DBFFF;
						cursor: pointer;
						font-family: OpenSansBold;
						position: relative;
					}
						main .right_block .output .bottom_output_content .output_footer .team:active { color: white; }
						main .right_block .output .bottom_output_content .output_footer .team:active .team_popup {
							display: block;
						}
						main .right_block .output .bottom_output_content .output_footer .team .team_popup {
							width: 300px;
							height: 400px;
							left: -100px;
							top: -300px;
							position: absolute;
							display: none;
						}
					main .right_block .output .bottom_output_content .output_footer .link {
						color: #FFFFFF;
						font-size: 12px;
						line-height: 15px;
					}
						main .right_block .output .bottom_output_content .output_footer .link a {
							color: #7DBFFF;
							font-family: OpenSansBold;
						}
							main .right_block .output .bottom_output_content .output_footer .link a:active { color: white; }
